fastapi
Flask
SQLAlchemy
scrapy
aiohttp
aiosqlite
asyncio-pool
asyncpg
requests
websockets
websocket-client
gunicorn
uvicorn
web3
eth-account
ccxt
pandas
numpy
scikit-learn
scipy
matplotlib
seaborn
statsmodels
prophet
faiss-cpu
torch
transformers
sentence-transformers
black
mypy
pytest
python-dotenv
ruff
pip-tools
